<div class="container">
  <h2><%= @account.account_name %></h2>
  <div>
    <p>Username: <%= @account.username %></p>
    <p>Password: <%= @account.password %></p>
  </div>
  <div class="d-flex justify-content-start mb-2">
    <%= button_to edit_account_path, class: "btn mr-2", method: :get do %>
      <i class="bi bi-pencil-square"></i>
    <% end %>
    <%= button_to @account, class: "btn", method: :delete do %>
      <i class="bi bi-trash"></i>
    <% end %>
  </div>
  <div>
    <%= link_to "Back", accounts_path %>
  </div>
</div>
